node_modules/
dist/
.DS_Store

# Environment-specific config files
config/*
!config/config.example.json
!config/config.dogebox-shop.json

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*